# Python Basic functions and use

# copy() method :

In [13]:
List = [1, 2, 3, 4, 'Geek']
List1 = List.copy()
print(List1)

[1, 2, 3, 4, 'Geek']

# append() method :

In [6]:
# add elements to the list : One at a time.
# To add multiple elements using append() you've to use iteration / loop.

In [5]:
list1 = []
print("initial list : ", list1)

list1.append(1)
list1.append(2)
list1.append(3)
list1.append(4)

print("\nList after adding the elements : ", list1)

initial list :  []

List after adding the elements :  [1, 2, 3, 4]

# insert() method :

In [8]:
# add elements at desired position for that insert() method requires two arguments(position, value)

In [14]:
list1 = [1, 2, 3, 4, 5]
print("Initial list : ", list1)

list1.insert(0,'Geek')
list1.insert(3, 12)
print("\nAftr inserting elements : ", list1)

Initial list :  [1, 2, 3, 4, 5]

Aftr inserting elements :  ['Geek', 1, 2, 12, 3, 4, 5]

# Set

In [52]:
# A set contains no duplicate values.

In [22]:
mySet = set(["BALL","BAT", 1, 1, 2, 5])
print(mySet)

{'BALL', 2, 1, 5, 'BAT'}

In [23]:
myset = set(['Bat','Ball', 1,2,5])
myset

{1, 2, 5, 'Ball', 'Bat'}

In [24]:
myset.add('Bob')
myset

{1, 2, 5, 'Ball', 'Bat', 'Bob'}

In [50]:
nwSet = {"pop", "rock", "soul", "hard rock", "rock", "R&B", "rock", "disco"}
nwSet

{'R&B', 'disco', 'hard rock', 'pop', 'rock', 'soul'}

In [51]:
main = {'Bat','Ball','Bat','Basket',"Bat", 0, 2, 1}
main

{0, 1, 2, 'Ball', 'Basket', 'Bat'}

In [25]:
# create third set that shows difference between 2 sets :

In [37]:
set1 = set()
set2 = set()
  
for i in range(5):
    set1.add(i)
  
for i in range(3,9):
    set2.add(i)
  
# Difference of two sets
# using difference() function
set3 = set1.difference(set2)
  
print(" Difference of two sets using difference() function")
print(set3)
  
# Difference of two sets
# using '-' operator
set3 = set1 - set2
  
print("\nDifference of two sets using '-' operator")
print(set3)

 Difference of two sets using difference() function
{0, 1, 2}

Difference of two sets using '-' operator
{0, 1, 2}

# clear() methode : to clear whole set.

In [39]:
s = set([1, 8, 9, 4, 7])
print("Initial set : ", s)

s.clear()
print("\nAfter clear function : ", s)

Initial set :  {1, 4, 7, 8, 9}

After clear function :  set()

# Union  U

In [47]:
S={'A','B','C'}

P={'A','Z','C'}

S.union(P)

{'A', 'B', 'C', 'Z'}

# Intersection  &

In [48]:
S.intersection(P)

{'A', 'C'}

In [49]:
S & P

{'A', 'C'}

# Dictionary  Dict/dict

In [53]:
D={'a':0,'b':1,'c':2}
Dict = {'a':0,'b':1,'c':2}                        # make dictionary
Dict

# Find value of 'a'

Dict['a']

0

In [54]:
# Find all the keys in the dictionary

In [55]:
Dict.keys()

dict_keys(['a', 'b', 'c'])