In [1]:
import pandas as pd
import scipy.stats as stats
from scipy.stats import ttest_ind

In [2]:
df = pd.read_csv('Data for 2 sample test.csv')
df.head()

   Hauz Khas  Defence Colony
0        180             220
1        100             200
2        120             240
3        220             180
4        160             160

In [4]:
df.describe(include = 'all')

        Hauz Khas  Defence Colony
count   14.000000       14.000000
mean   174.285714      222.857143
std     55.707241       43.576382
min    100.000000      160.000000
25%    125.000000      185.000000
50%    170.000000      220.000000
75%    215.000000      255.000000
max    260.000000      300.000000

In [5]:
#Calculating t-statistic and p-value using 2-sample t-test.

In [7]:
t_statistic, p_value = ttest_ind(df['Hauz Khas'], df['Defence Colony'][0:14], equal_var = False)
p_value

0.016649998684395588

As the p-value is less than 0.05 i.e our alpha, we simply reject null-hypothesis.