In [1]:
import pandas as pd
import scipy.stats as stats
from scipy.stats import ttest_1samp

In [2]:
df = pd.read_csv('onesample.csv')
df.head()

   Insect Length  Unnamed: 1  Unnamed: 2  Unnamed: 3  Unnamed: 4
0           6.55         NaN         NaN         NaN         NaN
1           6.67         NaN         NaN         NaN         NaN
2           6.56         NaN         NaN         NaN         NaN
3           6.63         NaN         NaN         NaN         NaN
4           6.39         NaN         NaN         NaN         NaN

In [3]:
headers = ['Insect length', '1', '2', '3', '4']

In [4]:
df.columns = headers
df.head()

   Insect length   1   2   3   4
0           6.55 NaN NaN NaN NaN
1           6.67 NaN NaN NaN NaN
2           6.56 NaN NaN NaN NaN
3           6.63 NaN NaN NaN NaN
4           6.39 NaN NaN NaN NaN

In [8]:
df1 = df.drop(columns =['1', '2', '3', '4'])
df1.head()

   Insect length
0           6.55
1           6.67
2           6.56
3           6.63
4           6.39

In [9]:
df1.describe()

       Insect length
count      29.000000
mean        6.492414
std         0.396454
min         5.200000
25%         6.330000
50%         6.550000
75%         6.780000
max         6.920000

1. Lets conduct one sample t-test, to check the mean of the sample insects is similar to the mean of the earlier insects.
2. Mean of the earlier insect is 6.09.
3. We have 29 samples i.e n = 29
    that means Degree of freedome we get is 28.       Reason : degree of freedome = n-1      (stats rule)
4.

In [10]:
t_statistic, _ = ttest_1samp(df, 6.09)
t_statistic

array([5.46611282,        nan,        nan,        nan,        nan])

In [11]:
# t-statistic > t-critical. we reject the null hypothesis.