# Logistic Regression :
> Logistic regression is a __classification algorithm__. It is used to predict a binary outcome based on a set of independent variables.


### When one should use Logistic Regression ?
> Like all regression analyses, the logistic regression is a __predictive analysis.__
> Logistic regression is used to describe data and to explain the relationship between one dependent binary variable and one or more nominal, ordinal, interval or ratio-level independent variables

### Examples :
> Logistic regression is used to calculate the probability of a binary event occurring, and to deal with issues of classification. For example, predicting if an incoming email is __spam__ or __not spam__, or predicting if a credit card transaction is __fraudulent__ or __not fraudulent__. In a medical context, logistic regression may be used to predict whether a tumor is __benign__ or __malignant__. In marketing, it may be used to __predict__ if a given user (or group of users) will buy a certain product or not. An online education company might use logistic regression to predict whether a student will complete their course on time or not.

In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
data = pd.read_csv('Social_Network_Ads.csv')
data.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [3]:
data.tail()

      User ID  Gender  Age  EstimatedSalary  Purchased
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

### Notes :
> 1. Purchased is our target variable here.
> 2. From __Age__ and __EstimatedSalry__ we need to predict that this person will purchase or not.
> 3. 1 = Purhcased and 0 = Not-purchased 


> If you observe closely, we can find that the EstimatedSalary for age is not in standard formate, meaning age 19 has salary $50K$ and age 50 has salary of $20K$ which seems to be odd.
> Therefore we need to standardize our data by __scalling__ using sklearn library.

In [4]:
data.isnull().any()

User ID            False
Gender             False
Age                False
EstimatedSalary    False
Purchased          False
dtype: bool

In [5]:
x = data.iloc[:,[2,3]]

y = data.iloc[:,[4]]

### Splitting the data into train and test:

In [6]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.25, random_state = 0)

# Standardize the data :

In [7]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

### Logistic Regression model building :

In [8]:
# Fitting the model :
from sklearn.linear_model import LogisticRegression
lg = LogisticRegression(random_state = 0)

In [9]:
lg.fit(x_train, y_train)

LogisticRegression(random_state=0)

In [10]:
y_pred = lg.predict(x_test)

### Confusion matrix :

In [11]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, y_pred)

print(cm)

[[65  3]
 [ 8 24]]

### Note : 

1. First diagonal is the accuratly predicted elements / attributes / values.
2. Second diagonal i.e 3 and 8 are the errors we had in this model.

# Checking the Score of our model

In [12]:
print('The accuracy is :',accuracy_score(y_test, y_pred)*100)

The accuracy is : 89.0

### Note : 
> 1. Accuracy near 0.80 to 0.90 is said to be good or ideal, hence we can accept this model.
> 2. Still if we want to increase the accuracy or reduce the amount of errors; for that we can implement various alogithms. and pick the most accurate one.
> 3. Here further down I'll use __K-Nearest-Neighbors__ to increase the accuracy score.